/* Selector grouping */
#element1,
#element2,
.element3 {
  background-color: black;
}

/* Single selector */
#singleElement {
  font-size: 15px;
}

/* Berdasarkan atribut id */
#boldText {
  font-weight: bold;
}

/* Berdasarkan atribut class */
.centerText {
  text-align: center;
}

/* Universal selector */
* {
  color: black;
}
